/* You can add global styles to this file, and also import other style files */


#wrapper{
    width:960px;
    margin: 0 auto;
    background-color: #fff;
}

header{
    font-family: 'Anton', sans-serif;
	width : 940px;
	height : 80px; 
	background-color: #c34a2b;
	color: #34a0a3;
    padding:10px;
}

nav{
    width:560px;
    margin-left: 400px;
    text-align:right;
}
nav #navlist {
   padding: 0;
   margin: 0;
    list-style-type: none;
}
#navlist li{
    display:inline;
}
#navlist a{
    margin-right:15px; 
    margin-left:15px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
    text-decoration: none;
    

}
#navlist a:link {
    color: #34a0a3;
    
	}
#navlist a:visited {
    color: #818181;
    
	}
#navlist a:hover {
    color: #c34a2b;
    
	}
#navlist a:active {
    color: #818181;
    
	}

section{ 
    width: 960px;
}
footer{
    width: 940px;
    height: 20px;
    background-color: #c34a2b;
	color: #fff;
    clear:both;
    padding:10px;
    
    
}
footer h4{
    text-align:center;
    margin:0;

}
section h2{
    font-family: 'Anton', sans-serif; 
    margin-bottom: -10px;
    color:#34a0a3;
    
}
section p{
    font-family: 'Karla', sans-serif;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #34a0a3;
    color: #4a4118;
}
h1{
    text-align:center;
    font-size: 50px;
    margin:0;
    text-shadow: 2px 2px #fff;
    letter-spacing: 2px;
    

}

.leftside{
    float:left;
    width:460px;
    padding:10px;
}
.mainimage{
    width:960px;
}

.formatleft{
    float:left;
}
.formatb{
    float:right;
    background-color:#c34a2b;
    color:#fff;
    padding:10px;
    
}
.formatc {
    float:left;
    width:240px;
    margin:0;
    padding:0;
    margin-bottom: 20px;
  
}
.formatc img{
    width:240px;
}
figcaption{
    text-align:center;
    color: #34a0a3;
    font-weight:bold;
}
.subh{
    
    background-repeat: no-repeat;
    background-position: -10px ;
    padding-left:75px;
    background-size: 60px 60px;


}
.col4{
    width:220px;
    margin-left:10px;
    margin-right:10px;
    float:left;
}
body {
    background-image: url("../assets/rback.jpg");
}
